module.exports =
	# Synergy port
	port:		24800
	# Synergy executables
	client:		'c:/Programs/Synergy/synergyc.exe'
	server:		'c:/Programs/Synergy/synergys.exe'

	# USB device determining the master
	# Logitech
	vendorId:	'046d'
	# Cordless Desktop Pro USB Receiver
	productId:	'c505'

	# Potential servers (hostnames, IP addresses)
	servers:	['luke', 'leia', '192.168.1.2']
	# Name of this computer as used in the Synergy configuration file
	name:		'luke'
	
	# msec to before before starting over because the device has been removed or no client has been found
	interval:	5000
	# msec to wait until the child process stops spewing out errors, else start over
	timeout:	5000
